<section id="album">

<% if @is_mobile || params[:mobile] %>

  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function(){    
      Code.photoSwipe('a', '#photos', {
        onShow: function(){ },
        onHide: function(){
          document.location = "<%= albums_path %>"
        }
      })
  		Code.PhotoSwipe.Current.show(0);
    }, false);
  </script>
  <article id="photos" class="hidden">
    <% @layouts.each do | layout | %>
      <%= raw layout.render %>
    <% end %>
  </article>
  
  
<% else %>

<script type="text/javascript">
$(function(){
  $("#layout_toggle").click(function(){
    Code.photoSwipe('a', '#photos', {
      onShow: function(){
        $("#photos").css("display", "none")

      },
      onHide: function(){
        $("#photos").css("display", "block")
      }
      
    });
		Code.PhotoSwipe.Current.show(0);
  })
})
</script>
  <header>
    <img id="layout_toggle" src= "<%= image_path "layoutswitch.jpg" %>">
    <h1><%= @album.name %></h1>  
    <h3><%= @album.created_at %></h3>
    <h2><%= @album.description %></h2>
    <h2><%= @album.photographer %></h2>
  </header>  
  <article id="photos">
    <% @layouts.each do | layout | %>
      <%= raw layout.render %>
    <% end %>
  </article>

</section>
<% end %>
