

<section id="album">
<header>
  <h1><%= @album.name %></h1>  
  <h2><%= @album.description %></h2>
  <h2><%= @album.photographer %></h2>
  <h3><%= @album.created_at %></h3>
</header>  

<article>
  <% @layouts.each do | layout | %>
    <%= raw layout.render %>
  <% end %>
</article>

</section>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @album.name %>
</p>

<p>
  <b>Description:</b>
  <%= @album.description %>
</p>

<p>
  <b>Safe name:</b>
  <%= @album.safe_name %>
</p>

<p>
  <b>Flickbook url:</b>
  <%= @album.flickbook_url %>
</p>

<p>
  <b>Photographer:</b>
  <%= @album.photographer %>
</p>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
