<!DOCTYPE html>
<html>
<head>
  <title>Photos</title>
  <!-- <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %> -->
  <link rel="stylesheet" href="/assets/application.css">
  <script src="/assets/application.js" type="text/javascript" charset="utf-8" ></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => 'layouts/nav' %>


<%= yield %>

</body>
</html>
